<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="naver-site-verification" content="cce8c30235136d39ce23f41ef15e6c5f85b41c76" />
    <meta name="google-site-verification" content="FwBTeelCNskP7nXy2W7NjosF3Nf4yKqhHbT8SraMegc" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="해당 웹사이트는 산업안전보건 공단의 KOSHA(코샤) Guide(가이드)의 안전설계지침을 문장단위로 검색하는 웹사이트 입니다.">
    <link rel="canonical" href="http://pehelper.herokuapp.com">
    <link rel="icon" href="http://pehelper.herokuapp.com/favicon.ico">
    <title>KOSHA(코샤) GUIDE 검색</title>
</head>
<style>
    html{font-size: 15px;}

    
</style>
<body>
    <br>
    <h1 style="text-align: center;">KOSHA GUIDE FINDER</h1>
    <h2 style="text-align: center;">BETA</h2>
    <div0 style="text-align:center;">
        
        <form method="POST" action="/find">
            <center>
                <input type="text" name="keyword" style="width: 300px;"><button type="submit">검색</button>
            </center>
        </form>
    </div0>
    <div style="text-align: center;">
        <p style="font-size: 15px;">현재 접속해계신 웹사이트는 KOSHA Guide 검색하는 웹사이트 입니다.</p>
        <p style="font-size: 15px;">KOSHA Guide의 안전설계 지침을 문장단위로 읽어 검색하는 방법이며, 표 및 사진은 검색되지 않습니다.</p>
        <a href="https://qlab.tistory.com/2">사용법 보기</a><br>
        <img src='https://img.khan.co.kr/news/2017/02/19/l_2017022001002603300213961.jpg'>
        <div>
            <div style="text-align: center;">
            <p style="font-size: 15px;">현재 등록되어 있는 안전설계 가이드 목록</p>
            </div>
            {% for guideview in guidelists %}
            <div style="text-align: center">
            <li style="margin-left: 1rem;">{{guideview}}</li>
            {% endfor %}
            </div>
        </div>
        <div>
            <ins class="kakao_ad_area" style="display:none;" 
             data-ad-unit    = "DAN-qdq0dril4zfl" 
             data-ad-width   = "320" 
             data-ad-height  = "50"></ins> 
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <p style="font-size: 10px; text-align: center;">플랜트 건설 엔지니어의 <storng style="color: red;">정시 퇴근</storng>을 위하여!</p>
        <p style="font-size: 10px; text-align: center;">당신의 빠른 퇴근만을 위하는 QLab</p>
        <p style="font-size: 10px; text-align: center;">Made by kblee</p>
        <p style="font-size: 10px; text-align:center">E-mail : selectadjust@kakao.com</p>
    </div>

</body>
</html>
